* linguist-vendored
hardware/fpga/vivado/BASYS3/top_system.xdc=false
software/firmware/*.c linguist-vendored=false
software/firmware/*.h linguist-vendored=false
submodules/NESCTRL/** linguist-vendored=false
submodules/PMEM/** linguist-vendored=false
